@import "tailwindcss";

html,
body {
  margin: 0;
  min-height: 100%;
  background-color: #f3f4f6;
  font-family: 'Arimo', sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}